@tailwind base;
@tailwind components;
@tailwind utilities;

/* Si tu as un fichier globals.css */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --color-bg: #d1d5db;             /* gris clair => bg-gray-300 */
  --color-text: #111827;           /* gris foncé pour fond clair=> text-gray-900 */
  --color-subtle-text: #4b5563;    /* texte secondaire => text-gray-600 */
  --color-primary: #dc2626;        /* rouge principal => red-600 */
  --color-primary-hover: #b91c1c;  /* rouge foncé hover => red-700 */
  --color-text-on-dark: #d1d5db;         /* blanc  pour fond foncé => text-gray-300 */
  --color-overlay: rgba(0, 0, 0, 0.6); /* fond semi-transparent pour les overlays */
  --color-border: #9ca3af;         /* bordures grises => gray-400 */
  --color-title-on-dark: #e5e7eb; /* titre blanc pour fond foncé => text-gray-200 */
  --color-surface: #f9fafb; /* plus clair que bg-bg, mais bien détaché */

}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

@layer utilities {
  .animate-scroll {
    animation: scroll-x 20s linear infinite;
  }

  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: white; /* couleur des flèches */
}